@import "normalize.css";
@import "skeleton.css";
@import "login.css";
@import "nav.css";
@import "sidebars.css";
@import "book.css";

body {
  background-color: #1499dc;
}

#main {
  position: relative;
  padding: 50px 20px 0;
  background: #ddd;
  min-height: 89vh;
}
/* background-color: #fff;
color: #111;
font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif; */
/* color: #0E618C;
	margin-left: 15px; */

.warning {
  color: #ff0000;
}

#search-form input {
  width: 100%;
}

/* Dashboard */
.dash-title {
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
