@import "normalize.css";
@import "skeleton.css";
@import "login.css";

body {
  background-color: #1499dc;
}

#main {
  position: relative;
}
/* background-color: #fff;
color: #111;
font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif; */
/* color: #0E618C;
	margin-left: 15px; */

.warning {
  color: #ff0000;
}
