@import "normalize.css";
@import "skeleton.css";
@import "login.css";

body {
  background-color: #1499dc;
}

.main {
  /* margin: auto;
  min-height: 100vh;
  width: 1024px;
  background-color: #eee; */
}

/* background-color: #fff;
color: #111;
font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif; */
/* color: #0E618C;
	margin-left: 15px; */
